*{
    margin: 0;
    padding: 0;
}

.cabecalho{
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(71, 30, 109);
}

.cartao{
    width: 260px;
    height: 200px;
}

.cartao-frente, .cartao-verso{
    width: 100%; 
}

.cartao-imagem{
    width: 100%;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100hv;
    background-color: rgb(117, 79, 153);
}

main{
    flex: 1;
}

.cabecalho-link{
    color: #fff;
    text-decoration: none;
}

h1{
    color: #fff;
    font-size: 28px;
}

footer{
    background-color: rgb(71, 33, 106);
    padding: 15px 25px;
    color: #fff;
}


